.content {
    grid-area: c;
    width: 100%;
    object-fit: cover;
    background-color: lightblue;
  }
  
.content img {
    background-image: url('../../../image/background-main.jpg');
    width: 10%;
    max-height: 200px;
}

.posts {
  background: honeydew;
    margin-top: 20px;
}

.item {
  color: green;
}

.postsBlock {
    padding: 10px;
}