.formControl.error input,
.formControl.error textarea {
    border: 2px solid #ff2020;
}

.formControl.error span {
    color: #ff2020;
}

.formSummaryError {
    border: #ff2020 1px solid;
    padding: 5px;
    color: #ff2020;
    width: 173px;
}