.content {
    grid-area: c;
    width: 100%;
    object-fit: cover;
    background-color: lightblue;
  }

.posts {
    background: honeydew;
}

.item {
    color: green;
}

.background {
    background-image: url('../../../image/background-main.jpg');
    width: 100%;
    max-height: 200px;
}

.descriptionBlock {
    padding: 10px;
}