.dialogs {
    display: grid;
    grid-template-columns: 50px 100px 2fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: aqua;
}

.messages {
    padding: 10px;
}

.messages .message {
    padding: 0px;
}

.avatarItems {
    display: flex;
    flex-direction: column;
    width: 50px;
}

.avatar {
    width: 40px;
    height: 40px;
    border: 1px solid #61dafb;
    border-radius: 50%;
}

.textarea {
    width: 400px;
    min-height: 100px;
}